<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets//icon/wish.png">
  </ion-card>

  <ion-card style="
    border: 5px solid #3c5aa6;
  ">
    <img src="../../assets//icon/pokemons.jpg"
    style="
      border: 5px solid white;
    ">

    <ion-row *ngIf="!pokeball" (click)="getPokemon()">
      <ion-col size="8">
        <img src="../../assets//icon/capturar.png"
        style="
          margin-top: 10px;
        ">
      </ion-col>

      <ion-col size="4">
        <img src="../../assets//icon/pokebola.png">
      </ion-col>
    </ion-row>


    <ion-row *ngIf="pokeball" style="margin-left: 20px;">
      <ion-col size="8">
        <ion-button color="danger" [disabled]="true">
          Sem pokebolas disponíveis
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <img src="../../assets//icon/pokebola.png" style="max-height: 60px;">
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
